
*{
    box-sizing: border-box;
    background-color: rgb(221, 252, 190);
}

body{
    font-family: 'Gill Sans', 'Gill Sans MT', 'Trebuchet MS', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0;
    padding: 10px;
}

h1{
    color: black;
    text-align: center;
    font-size: 50px;
}

.logo {
    width: 120px;
    height: 120px;
    margin: auto;
    display: block;
}

form{
    padding: 50px;
    border-radius:10px;
    background-color:rgb(171, 230, 176);
    margin-top: 20px;
}

.container1{
    padding: 10px;
    background-color: rgb(171, 230, 176);
}

.container1 input{
    width:200px;
    padding: 8px 10px;
    border:1px solid #f6f6f6;
    border-radius:3px;
    background-color:#f6f6f6;
    font-size: medium;
}

.container1 select{
    padding: 8px;
    border-radius:3px;
    font-size: medium;
}

.container-button{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(171, 230, 176);
}

button{
    font-size: 18px;
    color: white;
    background-color: black;
    border-radius: 5px;
    padding: 5px 10px;
    width:30%;
    border:1px solid #000;
    color:rgb(221, 252, 190);
    margin-top: 5px;
    margin-bottom: 5px;
}

button:hover{
	cursor: pointer;
    background-color: rgb(221, 252, 190);
    color: black;
}

.valor_actual{
    background-color: rgb(171, 230, 176);
    margin-right: 10px;
}

.container2{
    padding: 10px;
    background-color: rgb(171, 230, 176);
}

.container2 input{
    width:200px;
    padding:8px 10px;
    border:1px solid #f6f6f6;
    border-radius:3px;
    background-color:#f6f6f6;
    font-size: medium;
}

.container2 select{
    padding: 8px;
    border-radius:3px;
    font-size: medium;
}

footer{
  background-color: rgb(221, 252, 190);
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 40px;
  color: rgb(0, 0, 0);
  font-family: 'Gill Sans', 'Gill Sans MT', 'Trebuchet MS', sans-serif;
  font-size: 15px;
  text-align: center;
}